body {
  width: 300px;
  padding: 0;
  margin: 0;
}

button {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #fff;
  font-weight: 600;
  padding: 6px 6px;
  text-align: left;
}

#harvest-adjust {
  background: #F57E18;
  &:hover {
    background: #e17416;
  }
}
#dev-tabs {
  background: #44b363;
  &:hover {
    background: #388d4a;
  }
}
#com-tabs {
  background: #7ebcf5;
  &:hover {
    background: #6698ca;
  }
}
